article {
  min-height:25em;
}

form input, form textarea, form button  {
  width:100%;
  margin-top:1em;
}

form button {
  border:1px solid grey;
  background-color: white;
  height:2em;
}

#event_title  {
  width:100%;
}
